<link rel="stylesheet" href="css/_comments.css">

<li>
    <h4>
        <%= comment.user.name %>
    </h4>
    <p class="comments-content">
        <%= comment.content %>
    </p>
    <% if(locals.user && ((locals.user.id == comment.user.id) || (locals.user.id == p.user.id))){ %>
    <a href="/comments/destroy/?commentId=<%= comment.id %>&postAuthor=<%= p.user.id  %>">
        <button class="comments-delete-btn">Delete</button>
    </a>
    <% } %>
</li>