<!-- PARTIAL FOR FOOTER -->
<footer>
    <div id='company-name'>
        codial By Samad 
    </div>

    <div id='links'>
        <a href="/users/profile">Profile</a>
        <a href="/">Home</a>
    </div>

    <div id='contact-info'>
        CONTACT
        <div id='contact-details'>
            <div>
                smdyarkhan123@gmail.com
            </div>
            <div>
                8447784803
            </div>
        </div>
    </div>
</footer>