

<main>

    <h1>
        <%=heading%>
    </h1>

    <form action='/accounts/verify-email' method="POST">

        <input type="email" name="email" id="email" placeholder="yourEmail@example.com">

        <input type="submit" value="SUBMIT" id="submit-btn">

    </form>



</main>