<!-- <link rel="stylesheet" href="forgot_pass.css"> -->

<main>

    <h1>
        <%=heading%>
    </h1>

    <form action="#" method="GET">

        <input type="email" name="email" id="email" placeholder="yourEmail@example.com">

        <input type="submit" value="POST" id="submit-btn">

    </form>



</main>