
<link rel="stylesheet" href="css/home.css">

<main>

        <h1>
            <%=heading%> 
        </h1>

        <p>
            Codial is a social media platform created for programming enthusuists !
        </p>

        <section id='feed-posts'>
            <h2>
                POSTS
            </h2>

            <div id="postsDisplay">

                <% for(p of PostList) { %>

                <h3>
                    <%= p.user.name %>
                </h3>
                <p>
                   
                    <%= p.content %>
                </p>

                <% } %>

            </div>

            <% if (locals.user) { %>

                <form action="/posts/create" method="POST">

                    <textarea name="content" id="content" cols="50" rows="5"></textarea>
                    <input type="submit" value="created-post">

                </form>

            <% } else {%>
                <p>
                    User Must be Logged in to post!
                </p>
            <% } %>
        </section>
        
</main>

