
<link rel="stylesheet" href="css/home.css">

<main>
    <div id = "heading-wrapper">

        <h1>
            <%=heading%> 
        </h1>

        <p>
            Codial is a social media platform created for programming enthusuists !
        </p>
    </div>
        
    <div id="main-componets-wrapper">

        
            <section id='feed-posts'>
                <h2>
                    POSTS
                </h2>

                <% if (locals.user) { %>

                    <form action="/posts/create" method="POST" id="form-posts">

                        <textarea name="content" id="content" placeholder="Hey ! wanna share something ?" required></textarea>
                        <input type="submit" value="POST" id="submit-btn">

                    </form>

                <% } %>


                <div id="posts-display-wrapper">

                    <% for(p of PostList) { %>
                        
                        <%- include('_posts') -%>

                    <% } %>

                </div>

                
            </section> 

            <section id="user-friends">
                <h2>
                    FRIENDS
                </h2>

                <% for( User of all_users) {%>

                    <p>
                        <a href="users/profile/<%=User.id%>"><%= User.name %></a>
                    </p>

                <%}%>
            </section>

   
        
    </div>
   
</main>

<script  type="text/javascript" src="javascript/home.js" >

</script>