
<link rel="stylesheet" href="css/home.css">

<main>

        <h1>
            <%=heading%> 
        </h1>

        <p>
            Codial is a social media platform created for programming enthusuists !
        </p>
        
</main>

