
<link rel="stylesheet" href="css/home.css">

<main>

        <h1>
            <%=heading%> 
        </h1>
        <h2>
            <a href='/users/sign-in'>
                SIGN IN 
            </a>
        </h2>
        <h2>
            <a href='/users/sign-up'>
                SIGN UP 
            </a>
        </h2>

        <h2>
            <a href='/users/profile'>
              MY PROFILE 
            </a>
        </h2>
        
    </main>

