    <link rel="stylesheet" href="/css/user_profile.css">

    <main>
        <h1>
            <%=heading%> 
        </h1>

            <h3>
                NAME = <%=user.name%>
            </h3>

            <h3>
                USER EMAIL =  <%=user.email%>
            </h3>

    </main>
