


<main>
    <h1 id='main-heading'>sign in</h1>

    <form action="/users/create-session" method="POST">
        <input type="email" name="email" required placeholder="Your Email" required>
        <input type="password" name="password" required placeholder="password" required>
        <input type="submit" value="Sign In">
    </form>
</main>