    <link rel="stylesheet" href="/css/user_profile.css">

    <main>
        <h1 id='page-heading'>
            <%=heading%> 
        </h1>

            <h3 id='user-name'>
               <%=user.name%>
            </h3>

            <h3 id='user-email'>
                <%=user.email%>
            </h3>

    </main>
