    <link rel="stylesheet" href="/css/user_profile.css">

    <main>
        <h1>
            <%=heading%> 
        </h1>

        <h2>NAME : <%=userName%></h2>
        <h2>EMAIL : <%=userEmail%></h2>
    </main>
