<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="Your Name" >
    <input type="email" name="email" required placeholder="Your Email" >
    <input type="password" name="password" required placeholder="password" >
    <input type="password" name="confirmPassword" required placeholder="confirm password" >
    <input type="submit" value="Sign Up">
</form>
<div>
    <p>
        Already a user ? <a href="/users/sign-in">SIGN IN</a>
    </p>
</div>