$main-blue : rgb(0, 174, 255);

header{

    box-sizing: border-box;
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid gray;
    height: 3rem;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $main-blue;

    #page-heading{
        font-family: sans-serif;
        font-size: 2.5rem;
        color: white;
        letter-spacing: 4px;

    }

    ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;

        li{

            display: flex;
            height: 1.5rem;
            min-width: 100px;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: white;
            width:  fit-content;
            font-size: 1.2rem ;
            margin: 0px 10px;
            padding: 5px;
            
            a{

                text-decoration: none;
                color: $main-blue;
                border-bottom: none;

                &:visited{
                    color: $main-blue;
                }

                &:hover , &:active{
                    color: rgb(175, 197, 253);
                }


            }

          
        }
    }


}