body{
    margin: 0;
    font-family: sans-serif;
}

$main-blue : rgb(0, 174, 255);
$darker-blue : rgb(3, 132, 192);

main {
    
    margin: 0px 40px;
    #heading-wrapper{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            font-size: 1.5rem;
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    #feed-posts{
            padding: 20px;
            border:4px solid  rgba(2,0,36,1);
            width: 80%;
            border-radius: 10px;

            h2{
                letter-spacing: 2px;
                color: white;
            }

            // #posts-display-wrapper{
            //     margin-bottom: 20px;
            //     max-height: 500px;
            //     overflow-y: scroll;
            // }

            #posts-display{
                background:linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(50,44,248,1) 70%, rgba(122,49,240,1) 100%);;
                margin: 10px;
                border-radius: 10px;
                padding: 5px;
        

                h3{
                    margin-top: 4px;
                    color: white;
                    text-decoration: underline;
                }

                p{
                    margin: 4px;
                    padding: 4px;
                    background-color: white;
                    color: black;
                    border: 4px solid white;
                    border-radius: 4px;
                }

            
            }

           #form-posts{
               width: 100%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               
               textarea{
                   height: 4rem;
                   width: 96%;
                   border-radius: 10px;
                   padding: 10px;
                   resize: none;
                   border: none;
                   outline: none;

                   &:active{
                       outline: none;
                   }
               }


               #submit-btn{
                   height: 30px;
                   width: 60px;
                   margin-top: 10px;
                    background-color: rgba(2,0,36,1) ;
                   color: white;
                    font-size: 1rem;
                    padding: 5px;
                    border-radius:5px;
                    font-weight: 600;
                    outline: none;

                    &:hover{
                        cursor: pointer;
                    }

                    &:active{
                        outline: none;
                        transform: scale(0.95);
                        border: none;
                    }


               }



           }
    }
}

.hidden{
    display: none;
}


