<table >
    <tr>
        <td>
          Hello <%= token.user.name %> ,
        </td>
    </tr>

    <tr>
        <td>
            Your Password Reset Link is : <a href='http://localhost:8000/accounts/reset/?accessToken=<%=token.accessToken%>'>RESET PASSWORD</a>
        </td>
    </tr>
    <tr>
        <td>
            ThankYou !
        </td>
    </tr>
</table>