<table >
    <tr>
        <td>
          Hello <%= comment.user.name %> ,
        </td>
    </tr>

    <tr>
        <td>
            Your comment '<%= comment.content %>' has been published !
        </td>
    </tr>
    <tr>
        <td>
            ThankYou !
        </td>
    </tr>
</table>