main {
  height: 100%;
  font-family: sans-serif; }
  main #page-heading {
    font-size: 2rem;
    color: white; }
  main #user-name, main #user-email {
    font-size: 1.5rem;
    color: whitesmoke; }
